@font-face {
    font-family: 'robotoregular';
    src: url('fonts/Roboto-Regular-webfont.eot');
    src: url('fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Regular-webfont.woff2') format('woff2'),
         url('fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
	font-family: 'robotoregular', arial, sans-serif;
	color: #404040;
}

#wrapper{
    width: 100%;
    display: flex;
}

#sidebar{
    width: 30%;
    background-color: #0097A7;
    display: flex;
    flex-direction: column;
}

#photo{
    padding: 80px 40px 50px;
    text-align: center;
    margin: 0;
    flex-shrink: 1;
}

#photo img{
    width: 224px;
    height: 224px;
    overflow: hidden;
    border-radius: 50%;
    border: solid 4px rgb(64, 64, 64,0.3);
}

#sidebar h2{
    text-align: center;
    padding: 5px 0;
    margin: 0;
    color: #0097A7;
    background-color: #404040;
    font-size: 1.8em;
}

#contact{
    flex-shrink: 1;
}

#contact p{
    font-size: 1.1em;
    padding: 45px;
    margin: 0;
}

#about-me{
    flex-grow: 1;
}

#about-me p{
    font-size: 1.1em;
    padding: 45px;
    margin: 0;
    text-align: justify;
}

#hobbies{
    flex-shrink: 1;
}

#hobbies ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 35px;
    margin: 0; 
}

#hobbies i{
    font-size: 4em;
    padding: 10px;
}


#main{
    width: 70%;
    padding: 60px 30px 20px 60px;
}

#photo-secret{
    display: none;
}

#photo-secret img{
    width: 224px;
    height: 224px;
    overflow: hidden;
    border-radius: 50%;
    border: solid 2px #0097A7;
}

#name{
    margin: 55px 0 60px;
}

h1{
    font-size: 4em;
    margin: 0;
    color: black;
}

.blue{
    color: #0097A7;
}

#main i{
    color: #0097A7;
}

#main h2{
    font-size: 1.8em;
    color: black;
    margin: 15px;
}

#name h2{
    margin: 0;
    color:#404040;
}

#under-profession{
    border-bottom: solid 2px #0097A7;
}

.title{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    border-bottom: solid 2px #0097A7;
}

.title i{
    font-size: 2.7em;
    margin-right: 40px;
}

.content{
    padding-bottom: 20px;
}

h3{
    font-size: 1.5em;
    margin: 0;
}

h4{
    font-size: 1.1em;
    font-weight: normal;
}

.duration-target, .duration-dot{
    display: flex;
    width: 35%;
}

.duration-target p, .duration-dot p{
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 0;
}

.duration-target i{
    font-size: 1.1em;
}

.duration-dot i{
    font-size: 0.7em;
}

.duration-target i, .duration-dot i{
    margin-right: 20px;
    margin-top: 5px;
}

.content{
    display: flex;
}

.description{
    width: 65%;
}

.description ul{
    font-size: 1.1em;
}

#recommandation p{
    width: 50%;
    font-size: 1.1em;
    margin: 0;
}


@media all and (max-width :1070px){

    #wrapper{
        width: auto;
        height: auto;
        flex-direction: column-reverse;
    }

    #main{
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
    }

    #secret-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #photo-secret{
        display: contents;
    }

    #photo-secret img{
        margin: 70px 70px 0;
        border: solid 4px #0097A7;
    }

    #name{
        margin: 40px 0;
    }

    h1{
        font-size: 4.5em;
    }

    #under-profession, .title{
        border-bottom: solid 3px #0097A7;
    }

    #main h2{
        font-size: 2.4em;
    }

    #education, #experience, #recommandation{
        padding: 0 10px 0 25px;
    }

    .title i{
        font-size: 3em;
    }

    .duration-target, .duration-dot{
        width: 30%;
    }

    .description{
        width: 70%;
    }

    .duration-target i, .dot i{
        margin-right: 10px;
    }

    .duration-target i{
        font-size: 1.4em;
    }

    .duration-target p, .duration-dot p{
        font-size: 1.4em;
    }

    h3{
        font-size: 1.8em;
    }

    #recommandation p, .description ul, h4, #contact p, #about-me p{
        font-size: 1.5em;
    }

    #recommandation{
        padding-bottom: 20px;
    }

    #sidebar{
        width: 100%;
        height: auto;
        padding: 0;
    }

    #sidebar h2{
        font-size: 2.4em;
    }

    #photo{
        display: none;
    }

    #contact{
        text-align: center;
    }

    #hobbies{
        position: static;
    }

    #hobbies ul{
        margin: 0;
        padding: 45px;
   }

}


@media all and (max-width :970px){

    #education .content, #experience .content{
        flex-direction: column;
    }

    .duration-target, .duration-dot, .description{
        width: 100%;
    }

}      


@media all and (max-width :730px){

    #photo-secret img{
        margin: 0;
        width: 220px;
        height: 220px;
    }

    #name{
        margin: 30px 0 20px;
    }

    h1{
        font-size: 4em;
    }

    #profession{
        text-align: center;
    }

    #under-profession{
        border-bottom: solid 3px #0097A7;
    }

    .title{
        justify-content: center;
        padding: 0;
    }

    .title i{
        margin-right: 10px; 
    }

    #secret-section{
        margin: 50px 0;
    }


    #main h2{
        font-size: 2.5em;
        margin: 10px;
    }

    .duration-target, .duration-dot{
        width: auto;
        font-size: 1em;
        text-align: center;
    }

    .duration-dot{
        border-top: solid 5px #0097A7;
        padding-top: 30px;
    }

    .duration-target i, .duration-dot i{
        display: none;
    }

    h3{
        font-size: 2.1em;
        text-align: center;
        margin: 0;
        color: #0097A7;
    }

    h4{
        font-size: 1.6em;
        text-align: center;
        margin: 0;
    }

    .title i{
        color: black;
        font-size: 3.3em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }

    .content ul{
        list-style-type: none;
        font-size: 1.6em;
        padding: 0;
    }

    .description{
        width: 100%;
        margin-bottom: 25px;
    }

    #recommandation p{
        font-size: 1.6em;
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    #recommandation{
        margin-bottom: 0px;
    }

    #contact p, #about-me p, #hobbies ul{
        margin: 0px;
    }

}

@media all and (max-width :565px){

    h1{
        font-size: 3em;
        text-align: center;
    }

    #main h2{
        font-size: 1.8em;
    }

    #under-profession{
        border-bottom: solid 3px #0097A7;
    }

    .title i{
        font-size: 2.2em; 
    }

    #experience, #education, #recommandation{
        padding: 0;
    }

    .duration-target, .duration-dot{
        font-size: 0.8em;
    }

    h3{
        font-size: 1.6em;
    }

    h4{
        font-size: 1.2em;
    }

    .content ul, #recommandation p{
        font-size: 1.2em;
    }

    .duration-dot{
        border-top: solid 3px #0097A7;
    }

    #contact p, #about-me p, #hobbies ul{
        padding: 20px;
    }

}


@media all and (max-width :410px){

    #secret-section{
        margin: 40px 0 10px;
    }

    #photo-secret img{
        width: 175px;
        height: 175px;
    }

    h1{
        font-size: 2.3em;
    }

    #main h2, #sidebar h2{
        font-size: 1.3em;
    }

    .title i{
        display: none;
    }

    .description{
        margin-bottom: 0px;
    }

    h4{
        font-size: 1.3em;
    }

    #contact p, #about-me p, #hobbies ul, h4{
        font-size: 1.2em;
    }

    #hobbies i{
        font-size: 3em;
    }
    
}







    