/* corps de la page */

@font-face{
    font-family: 'candelabold';
    src: url('CandelaBold-webfont.eot');
    src: url('CandelaBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('CandelaBold-webfont.woff') format('woff'),
         url('CandelaBold-webfont.ttf') format('truetype'),
         url('CandelaBold-webfont.svg#candelabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
	font-family: 'candelabold', arial, sans-serif;
	color: #404040;
}

/* bloc de la page */
#wrapper{
    width: 100%;
    margin: auto;
    display: flex;
}

/* sidebar */
aside{
    width: 35%;
    height: 2575px;
    padding: 20px 0;
    background-color: #0097A7;
    position: relative;
}

#photo{
    padding: 40px;
    text-align: center;
    margin-bottom: 0;
}

aside img{
    width: 224px;
    height: 224px;
    overflow: hidden;
    border-radius: 50%;
    border: solid 4px rgb(64, 64, 64,0.3);
}

aside h2{
    text-align: center;
    padding: 5px 0;
    margin-top: 0;
    color: #0097A7;
    background-color: #404040;
    font-size: 1.8em;
}

#contact p{
    font-size: 1.1em;
    margin: 45px;
}

#about_me p{
    font-size: 1.1em;
    margin: 45px;
    text-align: justify;
}

#hobbies{
    width: 100%;
    position: absolute;
    bottom: 0px;
}

#hobbies ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 10px; 
}

#hobbies i{
    font-size: 4em;
    padding: 10px;
}


/* contenu principal */
section{
    width: 65%;
    padding: 60px 30px 20px 60px;
}

#photo_secret{
    display: none;
}

#photo_secret img{
    width: 224px;
    height: 224px;
    overflow: hidden;
    border-radius: 50%;
    border: solid solid 2px #0097A7;
}

h1{
    font-size: 4em;
    margin-bottom: 0;
    color: black;
}

section i{
    color: #0097A7;
}

#title{
    margin-bottom: 60px;
}

.blue{
    color: #0097A7;
}

.black, h2{
    color: black;
}

#subtitle{
    margin-top: 0;
    color:#404040;
}

section h2{
    font-size: 1.8em;
}

#underline{
    border-bottom: solid 2px #0097A7;
}

.main_title{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    border-bottom: solid 2px #0097A7;
}

.main_title i{
    font-size: 2.7em;
    margin-right: 40px;
}

.date_target, .date_dot{
    display: flex;
    width: 35%;
    align-items: top;
    padding-top: 15px;
}

.date_target p, .date_dot p{
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 0;
}

.date_target i{
    font-size: 1.1em;
}

.date_dot i{
    font-size: 0.7em;
}

.date_target i, .date_dot i{
    margin-right: 20px;
    margin-top: 5px;
}

.content{
    display: flex;
    align-items: top;
}

.description{
    width: 65%;
}

.description ul{
    font-size: 1.1em;
}

h3{
    font-size: 1.5em;
}

h4{
    font-size: 1.1em;
    font-weight: normal;
}

#recommandation p{
    width: 50%;
    font-size: 1.1em;
}

/* responsive 1277px max*/

@media all and (max-device-width: 1277px){
    .blue{
        color: red;
    }

    #wrapper{
        width: auto;
        height: auto;
        flex-direction: column-reverse;
    }

    section{
        width: 100%;
        height: auto;
        margin: auto;
        padding: 0;
    }

    #photo_secret{
        display: contents;
    }

    #secret{
        display: flex;
        align-items: center;
        margin: 50px;
    }

    #photo_secret img{
        margin-right: 30px;
        border: solid 4px #0097A7;
    }

    h1{
        font-size: 4.5em;
    }

    #underline, .main_title{
        border-bottom: solid 3px #0097A7;
    }

    section h2{
        font-size: 2.4em;
    }

    #education, #experience, #recommandation{
        padding: 0 10px 0 25px;
    }

    #recommandation{
        margin-bottom: 20px;
    }

    .main_title i{
        font-size: 3em;
    }

    .date_target i{
        font-size: 1.4em;
    }

    .date_target i, .dot i{
        margin-right: 10px;
    }

    h3{
        font-size: 1.8em;
    }

    #recommandation p, .description ul, h4, #contact p, #about_me p{
        font-size: 1.5em;
    }

    .date_target p, .date_dot p{
        font-size: 1.4em;
    }

    .date_target, .date_dot{
        width: 30%;
    }

    .description{
        width: 70%;
    }

    aside{
        width: 100%;
        height: auto;
        padding: 0;
    }

    aside h2{
        font-size: 2.4em;
    }

    #photo{
        display: none;
    }

    #contact{
        width: 100%;
        text-align: center;
    }

    #hobbies{
        position: static;
    }

    #hobbies ul{
        margin: 0 0 30px;
        padding: 0;
    }

/* responsive 480px max*/

@media all and (max-device-width: 480px){
    .blue{
        color: green;
    }

    #photo_secret img{
        border: solid 6px #0097A7;
    }

    .date_target i, .date_dot i{
        display: none;
    }

    .main_title{
        justify-content: center;
        padding: 0;
        background-color: #0097A7;
    }

    .main_title i{
        margin-right: 10px; 
    }

    #secret{
        flex-direction: column;
        margin: 60px 0;
    }

    #title{
        margin: 0;
    }

    h1{
        font-size: 6em;
    }

    #subtitle{
        text-align: center;
    }

    #underline{
        border-bottom: solid 5px #0097A7;
    }

    section h2{
        font-size: 3.3em;
        margin: 10px;
    }

    .date_target, .date_dot{
        width: auto;
        font-size: 1.3em;
        text-align: center;
    }

    .date_dot{
        border-top: solid 5px #0097A7;
        padding-top: 30px;
    }

    h3{
        font-size: 2.9em;
        text-align: center;
        margin: 0;
        color: #0097A7;
    }

    h4{
        font-size: 2.2em;
        text-align: center;
        margin: 0;
    }

    .main_title i{
        color: black;
        font-size: 3.3em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }

    .content ul{
        list-style-type: none;
        font-size: 2.4em;
        padding: 0;
    }

    .content p{
        font-size: 1.5em;
        margin: 20px 0;
    }

    #photo_secret img{
        width: 400px;
        height: 400px;
    }

    .description{
        width: 100%;
        margin-bottom: 25px;
    }

    #recommandation p{
        font-size: 2.4em;
        width: 100%;
        text-align: center;
    }

    #recommandation{
        margin-bottom: 30px;
    }

    #contact p, #about_me p, #hobbies ul{
        margin: 30px;
    }

}


























